
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


@Html.ActionLink("Rejestracja", "Registration", "Account")
@Html.ActionLink("Logowanie", "Login", "Account")
@Html.ActionLink("Lista kanalów", "List", "Chanel")
@Html.ActionLink("Lista ulubionych", "Favorite", "Chanel")
@Html.ActionLink("ustawienia", "FavoriteList", "Chanel")
