@model IList<ListaPostow.Models.Db.Chanel>

@{
    ViewData["Title"] = "Kanały";
}

<h1>Kanały</h1>

<p>
    <a asp-action="Create">Dodaj nowy kanał</a>
</p>
@Html.ActionLink("Strona glowna", "Index", "Home")
@Html.ActionLink("lista kanałów", "List", "Chanel")

@Html.PartialAsync("_ChanelListPartial", Model)
@*<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            foreach(var t in item.ChanelUsers)
              
            if (t.Visable)
            {
                <tr style="background-color: @t.Chanel.Color">
                    <td>
                        @Html.ActionLink(t.Chanel.Name, "Details", "Chanel", new { id = t.Chanel.ID })
                    </td>
                </tr>
            }

        }
    </tbody>
</table>*@